@model PaginatedList<Matriarchy.Models.County>

@{
    ViewData["Title"] = "Counties";
}

<h2>Counties</h2>

<table class="table">
    <thead>
        <tr>
            <th class="text-center">Name</th>
            <th class="text-left">Providers</th>
            <th class="text-left">Covid Cases</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td align="left">
                @Html.DisplayFor(modelItem => item.CountyName)
            </td>
            <td>
                <form action="" method="post">
                    <input type="hidden" name="v_strTitle" value="@item.CountyName">
                    <input type="hidden" name="v_intCountyID" value="@item.ID">
                    <button formaction="CountyPlans" type="submit" class="btn btn-link">View</button>
                </form>
            </td>
            <td>
                <form action="" method="post">
                    <input type="hidden" name="v_strCounty" value="@item.CountyName">
                    <button formaction="CountyCovid" type="submit" class="btn btn-link">View</button>
                </form>
            </td>

        </tr>
        }
    </tbody>
</table>

<form action="@Url.Action("Counties")" method="post">
    <input type="hidden" name="v_strTitle" value="@Model.Title">
    @if (Model.HasPreviousPage)
    {
        <button type="submit" name="v_intPageNumber" value="@(Model.PageIndex -1)" class="btn btn-default">Previous</button>
    }
    else
    {
        <button class="btn btn-default" disabled="disabled">Previous</button>
    }
    @if (Model.HasNextPage)
    {
        <button type="submit" Use name="v_intPageNumber" value="@(Model.PageIndex +1)" class="btn btn-default">Next</button>
    }
    else
    {
        <button class="btn btn-default" disabled="disabled">Next</button>
    }
</form>
