@model PaginatedList<Matriarchy.Models.ReportServiceOfferingCount>


<h2>Faild Login Attempts by User ID / IP Address</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Service Provider
            </th>
            <th>
                Movies Offerings
            </th>
            <th>
                Network Offerings
            </th>
            <th>
                Serie Offerings
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetworkCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerieCount)
            </td>

        </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="ServiceOfferingCount"
   asp-route-v_intPageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="ServiceOfferingCount"
   asp-route-v_intPageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>