
@model PaginatedList<Matriarchy.Models.Movie>

@{
    ViewData["Title"] = "Movies";
}

<h2>Movie Catalog</h2>
<form action="@Url.Action("MovieCreate")" method="post">
    <input type="hidden" name="v_strAction" value="Prep">
    <button name="v_intPageNumber" value="@(Model.PageIndex)" type="submit" class="btn btn-link">Add Movie to Catalog</button>
</form>

<div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation">
            <form action="@Url.Action("Networks")" method="post">
                <button name="v_strTitle" value="@Model.Title" type="submit" class="btn btn-link">Live TV</button>
            </form>
        </li>

        <li role="presentation" class="active">
            <a href="#second" aria-controls="second" role="tab" data-toggle="tab">Movies</a>
        </li>
        <li role="presentation">
            <form action="@Url.Action("Series")" method="post">
                <button name="v_strTitle" value="@Model.Title" type="submit" class="btn btn-link">Series</button>
            </form>
        </li>
    </ul>

</div>

<table class="table">
    <thead>
        <tr>
            <th class="text-center">Movie Title</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <form action="@Url.Action("MovieProviders")" method="post">
                    <input type="hidden" name="v_strTitle" value="@item.Description">
                    <input type="hidden" name="v_intReturnPage" value="@(Model.PageIndex)">
                    <button name="v_intMovieCD" value="@item.ID" type="submit" class="btn btn-link">Providers</button>
                </form>
            </td>
            <td>
                <form action="@Url.Action("MovieEdit")" method="post">
                    <input type="hidden" name="v_strAction" value="Prep">
                    <input type="hidden" name="v_intPageNumber" value="@(Model.PageIndex)">
                    <button name="v_intID" value="@item.ID" type="submit" class="btn btn-link">Edit Movie Title</button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>


<form action="@Url.Action("Movies")" method="post">
    @if (Model.HasPreviousPage)
    {
        <button type="submit" name="v_intPageNumber" value="@(Model.PageIndex -1)" class="btn btn-default">Previous</button>
    }
    else
    {
        <button class="btn btn-default" disabled="disabled">Previous</button>
    }
    @if (Model.HasNextPage)
    {
        <button type="submit" Use name="v_intPageNumber" value="@(Model.PageIndex +1)" class="btn btn-default">Next</button>
    }
    else
    {
        <button class="btn btn-default" disabled="disabled">Next</button>
    }
</form>